.Container {
    max-width: 14.5vw;
    border:2px solid white;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 0.3vw;
}
.Container:hover{
    border: 2px solid #2F80ED;

}
.image{
    max-width: 14.5vw;
}